# Backend
backend/target/
*.class
*.jar
*.log

# Frontend
node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Design files
*.html
!frontend/src/**/*.html

# Docker
pgdata/

